body{
padding: 0;
margin: 0;
background-color: lightblue;
}

.frameMap{
    width: 100%;
    height: 400px;
    color: aqua;
    background-color: lightgreen;
    // background-image: url("/src/img/balticSea.png") ;
  }