body {
  /* display: flex; */
  padding: 0;
  margin: 0;
}

.frameMap {
  /* margin: 20px; */
  width: 100%;
  border-bottom: 1px solid gray;

  /* /background-image: url("/src/img/balticSea.png") ; */
}
.frameContainer {
  /* display: flex; */
  /* flex-direction: column; */
  min-height: auto;
  /* justify-content: center; */
}
.title {
  display: flex;
  padding-left: 10px;
  justify-content: center;
}
.frameWether {
  width: 100%;
  height: auto;
}
