
body {
  display: flex;
  background: rgb(234, 240, 241);
  width: 100%;
  justify-content: center;

  a{
    text-decoration: none;
  }
  li{
      list-style: none;
  }
}
*{
  padding: 0;
  margin: 0;
}

.container{
  height: auto;
  width: 1000px;
  color: black;
}

.topdiv {
  width: 100%;
  margin-top: 20px;
  
}
.topdiv a{
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid gray;
  background: paleturquoise;
  color: black;
}
.toplineleft{
  display: flex;
  justify-content:space-evenly ;
  a:hover {
    background-color: rgb(64, 100, 112);
    color: beige;

  }
}
.maindiv{
  display: flex;

}
.column{
  width: 250px;
  // height: 100%;
  border: 1px solid black;
  background: lightblue;
 
  a{
    display: block;
    padding: 10px 0 10px 20px;
    border-bottom: 1px dotted gray;
  }
  .submenu {

    color: black;
    lu li a{
      display: block;
    }
   
  }
  .submenu:hover {
    color: beige;

  }
}
.mainmenu{
  position: relative;
 
}

.leftul ul{
  display: none;
  color: beige;

}
.leftul span{
float: right;
margin-right: 20px;
transform: rotate(90deg);
}
.leftul li:hover{
  color: beige;
  background-color: rgb(64, 100, 112);
}
.leftul li:hover .submenu1 ul{
  background-color: lightblue;
  display: block;
  margin-top: -40px;
  position: absolute;
  margin-left: 250px;
  width: 250px;
 
  a{
    padding: 20px;
    color: black;
   
  }
  a:hover{
    color: beige;

  }
  span{
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
  }
  .submenu2 {
    display: none;
  }
  
}
.content{
  // background-color: aquamarine;
  width: 500px;
  min-height: 600px;
  h1{
    margin: 20px;
  }
  label{
    margin-left : 20px;
  }
  #cities{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    .city {
      min-width: 150px;
      border: 1px solid rgb(27, 9, 9);
      background: aqua;
      padding: 10px;
      margin: 20px;
    }
  }
  h2{
    padding: 20px;
  }
}

