
body {
  display: flex;
  background: rgb(234, 240, 241);
  width: 100%;
  justify-content: center;

  a{
    text-decoration: none;
  }
  li{
      list-style: none;
  }
}
*{
  padding: 0;
  margin: 0;
}

.container{
  width: 1000px;
}

.topdiv {
  width: 100%px;
  margin-top: 20px;
  
}
.topdiv a{
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid gray;
  background: paleturquoise;
}
.toplineleft{
  display: flex;
  justify-content:space-evenly ;
}
.maindiv{
  display: flex;

}
.column{
  width: 250px;;
  border: 1px solid black;
  background: lightblue;
 
  a{
    display: block;
    padding: 10px 0 10px 20px;
    border-bottom: 1px dotted gray;
  }
  .submenu {

    // color: green;
    lu li a{
      display: block;
    }
   
  }
}
.mainmenu{
  position: relative;
}
.leftul ul{
  display: none;
}
.leftul span{
float: right;
margin-right: 20px;
transform: rotate(90deg);
}
.leftul li:hover .submenu1 ul{
  background-color: lightblue;
  display: block;
  margin-top: -40px;
  position: absolute;
  margin-left: 250px;
  width: 250px;
 
  a{
    padding: 20px;
    color: beige;
   
  }
  span{
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
  }
  .submenu2 {
    display: none;
  }
  
}
// .leftul li:hover .submenusecound ul{
//   background-color: gray;
//   display: block;
//   margin-top: -40px;
//   position: absolute;
//   margin-left: 250px;
//   width: 250px;

//   .submenu2 ul {
//     display: none;
//   }


// }
// .submenusecound ul li:hover .submenu2 ul{
//   display: block;
//   position: absolute;
//   margin-left: 250px;
//    width: 250px;

// }
// .submenu2 ul li:hover {
//   display: block;
//   background-color: aqua;
// }
// .submenusecound ul li:hover  {
//    display: block;
//   background-color: darkblue;
//   //  position: absolute;
//    margin-left: 250px;
//    width: 250px;

// }


.content{
  
  width: 500px;
  height: auto;
  h1{
    margin: 20px;
  }
  label{
    margin-left : 20px;
  }
  #cities{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    .city {
      width: 150px;
      border: 1px solid rgb(27, 9, 9);
      background: aqua;
      padding: 10px;
      margin: 20px;
    }
  }
}
